[Unit]
Description=Serve Portfolio Site
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/flask-portfolio-site/
Environment="PATH=/root/flask-portfolio-site/python3-virtualenv/bin"
ExecStart=/root/flask-portfolio-site/python3-virtualenv/bin/python /root/flask-portfolio-site/python3-virtualenv/bin/flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
